#carousel a.veja-mais:hover  {
	color: #f3b030;	
}
#carousel .veja-mais {
	color: #f3b030;	
	font-size: 15px;
}
#carousel .veja-mais .glyphicon {
	margin-top: -8px;
	font-size: 19px;
	vertical-align: middle;
	margin-left: 8px;
	color: #8f8d87;
} 

#carousel .carousel-inner > section {
	height: 315px;
}

#carousel .banner-principal {
	background: #f0af31 url("../images/home/banners/principal/bg.jpg") repeat-x;
}
#carousel .banner-principal .imagem {
	position: absolute;
	background-image: url("../images/home/banners/principal/imagem.png");
	width: 714px;
	height: 287px;
	top: 28px
}
#carousel .banner-principal .descricao {
	float: left;
	margin-left: 238px;
	margin-top: 40px;
}
#carousel .banner-principal h2 {
    text-align: left;
    color: white;
    font-size: 60px;
    font-family: "alwyn-new-web-n1", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 57px;
    letter-spacing: -5px;
}
#carousel .banner-principal span {
	display: block;
	font-size: 68px;
	padding-left: 33px;
}
#carousel .banner-principal span b {
	font-family: "alwyn-new-web-n5", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}
#carousel .seguradoras .imagem {
	position: absolute;
	background-image: url("../images/home/banners/seguradoras/logos.png");
	width: 675px;
	height: 159px;
	top: 135px
}
#carousel .seguradoras .descricao {
	text-align: center;
	margin-top: 15px;
	margin-left: -20px;
}
#carousel .seguradoras h2 {
	font-size: 36px;
	letter-spacing: -2px;
	text-align: center;
	line-height: 40px;
}
#carousel .seguradoras h2 span {
	display: block;
	font-size: 48px;
	font-family: "alwyn-new-web-n5", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

#carousel .banner-mobile {
	background: #f9f9f9 url("../images/home/banners/mobile/bg.png") ;
	background-position: center center;
}
#carousel .banner-mobile .imagem {
	position: absolute;
	background-image: url("../images/home/banners/mobile/imagem.png") ;
	width: 293px;
	height: 295px;
	top: 28px
}
#carousel .banner-mobile .descricao {
	width: 422px;
	margin-left: 257px;
	margin-top: -8px;
	font-family: "alwyn-new-web-n1", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 100;
	line-height: 24px;
	padding-top: 50px;
}
#carousel .banner-mobile .descricao h2 {
	font-size: 54px;
	font-weight: 500;
	font-family: "alwyn-new-web-n5", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -3px;
	color: #8f8d87;
}
#carousel .banner-mobile .descricao .detalhes {
	padding-left: 32px;
}
#carousel .banner-mobile .descricao .subtitulo {
	color: #F6B332;
	font-family: "alwyn-new-web-n1", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 23px;
	letter-spacing: -1px;
	font-weight: 100;
}
#carousel .banner-mobile .descricao .subtitulo b {
	font-weight: 500;
	font-family: "alwyn-new-web-n5", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

#carousel .banner-mobile .descricao ul {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
}
#carousel .banner-mobile .descricao li:before {
	content: "- ";
}
#carousel .banner-mobile .descricao li {
	list-style-type: none;
	color: #8f8d87;
}
#carousel .banner-mobile .descricao .adicional {
	padding: 7px 5px;
}

#carousel .banner-como-funciona {
	/* background: #f9f9f9 url("../images/home/banners/como-funciona/bg.png"); */
	background: #F9F9F9 url("../images/home/banners/mobile/bg.png");
	background-position: center center;
}
#carousel .banner-como-funciona .imagem {
	position: absolute;
	background-image: url("../images/home/banners/como-funciona/imagem.png");
	width: 384px;
	height: 319px;
	margin-top: -4px;
	background-repeat: no-repeat;
}
#carousel .banner-como-funciona .descricao {
	float: left;
	margin-left: 384px;
	margin-top: 40px;
	width: 270px;
}
#carousel .banner-como-funciona h2 {
	text-align: left;
	color: #8f8d87;
	font-size: 25pt;
	font-family: "alwyn-new-web-n1", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 37px;
	letter-spacing: -2px;
}
#carousel .banner-como-funciona h2 b {
	font-family: "alwyn-new-web-n5", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #f6b332;
}

#carousel main {
	position: absolute;
	right: 15px;
	z-index: 400;
	background-color: white;
	width: 28.9%;
	height: 191px;
	padding: 0px;
	text-align: center;
	padding-top: 10px;
	margin-top: 65px;
	border: 1px solid #f6dbaa;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	/*
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
	 border: 3px solid rgb(246, 219, 163); */
	border: 1px solid rgb(221, 221, 221);
}
#carousel main h1 {
	color: #8f8e89;
	font-family: "alwyn-new-web-n3", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.68em;
	margin-top: 8px;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 25px;
	padding: 5px 4.6%;
	text-align: center;
}
#carousel main h1 span {
	font-family: "alwyn-new-web-n4", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f7b334;
	font-weight: 400;
}
#carousel main .btn-primary {
	font-size: 30px;
	font-weight: 500;
	margin-top: 7px;
	padding: 17px 0px;
	width: 247px;
	position: absolute;
	margin-left: 0;
	left: 7%;
	bottom: 9%;
	text-align: center;
}

#carousel main .btn-primary  .right-caret {
	border-bottom-width: 7px;
	border-top-width: 7px;
	border-left-width: 6px;
	margin-left: 2px;
}



#carousel .carousel-indicators {
	bottom: -45px;
}
#carousel .carousel-indicators li {
	background-color: white;
	border-color: #9c9a95;
	width: 13px;
	height: 13px
}
#carousel .carousel-indicators li.active {
	margin: 1px;
	border: 1px solid  #9c9a95;
	background-color: #9c9a95;
}