input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	background: #fff;
	border: 1px solid #aeaeae;
	width: 100%;
	font-family: "open-sans-n4", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #aeaeae;
	padding: 7px;
	text-indent: 10px;
	outline: none;
	@include box-shadow (inset 2px 3px 4px rgba(0,0,0,.09));
	@include border-radius(5px);
	@include transition(all 0.2s ease-in);
	&:hover {
		border-color: #9e9e9e;
		color: #9e9e9e;
	}
	&:focus {
		border-color: #7e7e7e;
		color: #7e7e7e;
	}
	&.customfile-filename {
		width: 105%;
		margin-left: -15px;
		padding: 11px 7px;
	}
}
textarea {
	padding-top: 10px; 
	height: 205px;
}
label {
	font-family: "open-sans-n4", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #676767;
	font-weight: bold;
}
button {
	background: #96d714;
	color: #fff;
	float: right;
	margin: 10px 0;
	font-family: "open-sans-n4", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff!important;
	text-decoration: none!important;
	padding: 13px 30px; 
	border: none;
	cursor: pointer;
	@include transition(all 0.2s ease-in);
	@include border-radius(5px);
	&:hover {
		background: darken(#96d714, 6);
	}
	&.customfile-upload {
		background: #656565;
		padding: 7px 30px;
		margin-top: 0!important;
		margin-right: -15px;
		&:hover {
			background: darken(#656565, 11);
		}
	}
}