section.sobre-o-smartia > h1 {
	font-size: 36px;
	font-size: 38px;
	letter-spacing: -2px;
}

.como-funciona {
	margin-top: 30px;
	background-image: url(../images/home/como-funciona.png);
	background-repeat: no-repeat;
	background-position-x: 36px;
	height: 276px;
	margin-bottom: 45px;
}
.como-funciona > div {
	margin-top: 213px;
	margin-left: 63px;
	display: inline-block;
	bottom: 10px;
	color: #f7b334;
	width: 145px;
	vertical-align: top;
	text-align: center;
}
.como-funciona > div span {
	font-size: 30px;
	font-family: "alwyn-new-web-n5", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	letter-spacing: -1px;
}
.como-funciona > div.resultado {
	margin-left: 98px;
	width: 216px;
	margin-top: 233px;
	line-height: 20px;
}
.como-funciona > div.resultado span {
	font-size: 24px;
	letter-spacing: -1px;
}
.como-funciona > div.resultado b {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0;
}

.sobre-o-smartia {
	margin-top: 75px;
}

.sobre-o-smartia h1 {
	margin-bottom: 26px;
}
.sobre-o-smartia p {
	text-align: center;
}

.vantagens {
	margin-top: 16px;
}
.vantagens ul {
	margin-top: 20px;
	margin-bottom: 0px;
}
.vantagens li {
	font-family: "open-sans-n1", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #9c9a95;
}
.vantagens .segunda-coluna {
	margin-left: -39px;
}
.vantagens .cobertura-atendimento img {
	margin-top: -48px;
	float: right;
}

.seguradoras-parceiras {
	margin-top: 36px;
}
.seguradoras-parceiras ol {
	padding-left: 15px;
}
.seguradoras-parceiras > h1 {
	font-size: 36px;
}
.seguradoras-parceiras li {
	display: inline-block;
	list-style-type:  none;
	margin: 34px 13px;
}

.relacionados {
	background-color: #efeded;
	padding-top: 38px;
	margin-top: 10px;
}
.relacionados .carousel-inner {
	height: 266px;
}
.relacionados .carousel-indicators {
	bottom: 41px;
}
.relacionados .carousel-indicators li {
	border: 1px solid #bbb;
	background: #bbb;
}
.relacionados .carousel-indicators .active {
	background-color: #888;  
}
.relacionados .carousel > footer {
	margin-bottom: 43px;
}
.relacionados .carousel > footer > a strong {
	text-transform: uppercase;
}
.relacionados article > footer {
	padding-right: 20px;	
}
.relacionados article > footer > a {
	font-family: "open-sans-n7", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	color: #f7b334;
	font-size: 13px;
	font-weight: 700;
}

.relacionados article > footer > a .glyphicon {
	font-size: 8px;
	top: 0;
}

.posts-recentes time {
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}
.posts-recentes h3 {
	font-family: "open-sans-n7", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: -1px;
}
.posts-recentes article {
	padding: 0;
}
.posts-recentes p {
	font-size: 14px;
}
.posts-recentes time span {
	display: block;
	padding: 8px;
	font-family: "open-sans-n3", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	vertical-align: center;
	width: 38px;
}
.posts-recentes .day {
	font-family: "open-sans-n7", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: white;
	color: #8f8e89;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	height: 40px;
}

.posts-recentes .month {
	font-family: "open-sans-i3", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f7b334;
	color: white;
	font-size: 13px;
	line-height: 5px;
	font-weight: 300;
	margin-top: 3px;
	height: 20px;
}

.depoimentos {
	padding-left: 0;
}
.depoimentos blockquote {
	 background-color: #f7b334;
	           border: 1px solid #f7b334;
-webkit-border-radius: 7px;
   -moz-border-radius: 7px;
        border-radius: 7px;
	       text-align: center;
	          padding: 0px;
}
.depoimentos blockquote span {
	color: white;
	font-size: 17px;
	font-style: italic;
	padding: 0;
	display: block;
	margin: 12px 29px;
}
.depoimentos blockquote span:before {
	font-family: "Trebuchet MS", serif;
	font-size: 46pt;
	color: white;
	font-weight: normal;
	content: "“";
	line-height: 46pt;
	position: absolute;
	margin-top: -8px;
	padding: 0;
	text-indent: 0;
	margin-left: -33px;
}
.ie .depoimentos blockquote span:before {
	margin-left: -29px;
}
.depoimentos blockquote span:after {
	font-family: "Trebuchet MS", serif;
	font-size: 46pt;
	color: white;
	font-weight: normal;
	content: "”";
	line-height: 46pt;
	position: absolute;
	padding: 0;
	text-indent: 0;
	margin-left: -6px;
}

.depoimentos blockquote .seta {
	display: block;
	position: absolute;
	border-bottom: 0;
	border-top: 14px solid #f7b334;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	margin-left: 26px;
}
.depoimentos figure {
	padding: 5px;
	padding-top: 20px;
}
.depoimentos figcaption {
	margin-top: 25px;
}
.depoimentos figcaption img {
	border: 2px solid white;
}
.depoimentos figcaption .autor {
	margin-top: 10px;
	display: block;
	font-family: "open-sans-n7", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 17px;
}
.depoimentos figcaption b {
	font-size: 17px;
}


/*
OUR STYLES
*/

/* Page Titles */
.page-title {
	width: 100%;
	height: 115px;
	background: #656565;
	h1 {
		display: block;
		margin: 0;
		padding: 0 0 0 5px;
		color: #fff;
		font-family: "open-sans-n3", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 300;
		font-size: 40px;
	}
}
.single-page {
	position: relative;
}
.big-simule-button {
	display: inline-block;
	font-family: "alwyn-new-web-n4", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff!important;
	text-decoration: none!important;
	padding: 13px 40px 12px 30px;
	//width: 255px;
	height: 55px;
	background: #90ca1c;
	font-size: 18px;
	position: absolute;
	top: 30px;
	right: 15px; 
	border: 3px solid #575b4e;
	@include border-radius(7px);
	&:hover {
		background: #b1ef35;
	}
	&:before { 
		position: absolute;
		top: 15px;
		right: 15px;
		content: "";
		width: 0; 
		height: 0; 
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 
		border-left: 10px solid #fff; 
	}
}
.double-border {
	width: 100%;
	height: 6px;
	border-bottom: none;
	display: block;
	clear: both;
	background: #d2d2d2;
	position: relative;
	margin: 0 auto;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 170px;
		height: 6px;
		background: #f6b332;
	}
}
.page-sharer {
	padding-top: 25px;
	height: 55px;
	//background: #ccc;
	.google, .facebook {
		display: block;
		float: left;
		margin-right: 10px;
	}
}

/* Text of Pages */
.text-content {
	padding: 22px 0 100px 0;
	font-family: "alwyn-new-web-n4", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #656565;
}

/* APP Mobile */
.image-app {
	width: 100%;
	height: 352px;
	display: block;
	position: relative;
	background: image-url('bg-app.gif') 0 0 no-repeat;
	span {
		display: block;
		text-indent: -9999px;
		position: absolute;
		bottom: 0;
		&.left {
			width: 307px;
			height: 309px;
			left: 15px;
			background: image-url('app-left.png') 0 0 no-repeat;
		}
		&.right {
			width: 221px;
			height: 298px;
			right: 40px;
			background: image-url('app-right.png') 0 0 no-repeat;
		}
		&.text {
			width: 415px;
			height: 196px;
			left: 50%;
			margin-left: -210px;
			bottom: 115px;
			background: image-url('app-text.gif') 0 0 no-repeat;
		}
	} 
	.avaliable {
		display: block;
		text-indent: -9999px;
		position: absolute;
		bottom: 0;
		width: 170px;
		height: 55px;
		left: 50%;
		margin-left: -85px;
		bottom: 40px;
		background: image-url('avaliable.gif') 0 0 no-repeat;
		@include transition(all 0.2s ease-in);
		&:hover {
			bottom: 42px;
		}
	}
}



















