.rodape .sprite-dinamico,
.rodape .sprite-fixo {
	background-image: url('../images/sprites/footer-normal.png'); 
	background-color: transparent; 
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: middle;
}

.rodape .logo-certisign { width: 72px; height: 50px; background-position: -99px -60px; }
.rodape .logo-fenacor { width: 98px; height: 59px; background-position: 0 -99px; }
.rodape .logo-sincor { width: 79px; height: 59px; background-position: -33px 0; }
.rodape .logo-tem-corretor { width: 68px; height: 59px; background-position: -113px 0; }
.rodape .logo-verisign { width: 85px; height: 50px; background-position: -99px -111px; }
.rodape .share-facebook { width: 32px; height: 32px; background-position: 0 -33px; }
.rodape .share-google-plus { width: 32px; height: 32px; background-position: -33px -60px; }
.rodape .share-linkedin { width: 32px; height: 32px; background-position: -66px -60px; }
.rodape .share-twitter { width: 32px; height: 32px; background-position: 0 -66px; }
.rodape .share-youtube { width: 32px; height: 32px; background-position: 0 0; }

.rodape a:hover .sprite-dinamico { background-image: url('../images/sprites/footer-over.png'); background-color: transparent; background-repeat: no-repeat; }
.rodape a:hover .share-facebook { width: 32px; height: 32px; background-position: 0 0; }
.rodape a:hover .share-google-plus { width: 32px; height: 32px; background-position: -33px 0; }
.rodape a:hover .share-linkedin { width: 32px; height: 32px; background-position: -66px 0; }
.rodape a:hover .share-twitter { width: 32px; height: 32px; background-position: -99px 0; }
.rodape a:hover .share-youtube { width: 32px; height: 32px; background-position: -132px 0; }


.rodape {
	background-color: #434343; 
}

.rodape > .links { 
	height: 53px;
	background-color: #727071; 
	padding: 16px;
}
.rodape > .links li {
	list-style-type: none;
	display: inline-block;
	padding: 0; 
}
.rodape > .links li,
.rodape > .links a {
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	@include transition (all 0.2s ease-in);
}

.rodape > .links a:hover {
	color: #f3b030;
}
.rodape > .links .divider {
	font-size: 13px;
	padding: 0 15px;
}

.rodape .siga-nos {
	font-size: 22px;
	font-weight: 300;
	padding-top: 38px;
}

.rodape .imagens {
	color: #E6E6E6;
	padding-left: 13px;
	padding-right: 13px;
}

.rodape .imagens > div,
.rodape .imagens > div > div {
	padding-left: 2px;
	padding-right: 2px;
}

span.title {
	display: block;
	float: left;
}
.rodape ul.inline {
	padding-left: 15px;
	float: left;
	display: block;
}

.rodape ul.inline li {
	margin-left: 1px!important;
	display: block;
	float: left;
}

.rodape .copyrights {
	margin-top: 38px;
}
.rodape .copyrights p {
	font-size: 11px;
	line-height: 17px;
}
.rodape p.copyright {
	font-weight: 700;
	font-size: 11px;
}

.rodape .logos {
	padding-top: 38px;
}

.rodape .corretor .descricao {
	position: absolute;
	width: 77px;
	margin-left: -25px;
}
.rodape .logos .descricao {
	font-family: "alwyn-new-web-n1", "alwyn-new-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 100;
	padding: 0;
	text-align: right;
	padding-right: 2px;
}
.rodape .logos .logo {
	margin-top: -8px;
	text-align: center;
}